@model Entities.Customers

@{
    ViewBag.Title = "Details";
}

<h2>Your Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactInfo.ContactNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactInfo.ContactNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactInfo.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactInfo.Email)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.City.CityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.CityName)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit") |
    @Html.ActionLink("Add bank details", "AddBankDetails") |
    @Html.ActionLink("View Bill", "GetAmount") |
    @Html.ActionLink("View Subscribed Vendors", "GetAllVendorDetails") |
    @Html.ActionLink("Payment history", "PaymentHistory") 
    @*@Html.ActionLink("Back", "Index")*@
</p>
