@model Entities.Customers 

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<div>
    <h4>Customers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactInfo.ContactNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactInfo.ContactNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactInfo.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactInfo.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityID)
        </dd>

    </dl>
</div>*@
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.CustomerID }) |
    @Html.ActionLink("Add bank details", "AddBankDetails", new { id = Model.CustomerID }) |
    @Html.ActionLink("Vendors details", "GetAmount", new { id = Model.CustomerID }) |
    @Html.ActionLink("Back", "Details")*@
</p>
