@model IEnumerable<Entities.City>

@{
    ViewBag.Title = "Cities";
}

<h2>List of Cities</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div>
    @Html.ActionLink("Back", "Details", "AdminHimself")
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CityName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CityName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CityID })   
        </td>
    </tr>
}

</table>
